/*
  Document   : _content
  Created on : Apr 27, 2014, 11:40:36 AM
  Author     : Administrator
  Description:
  Purpose of the stylesheet follows.
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

root {
  display: block;
}

#content {
  padding: 15px 0 15px 0;  
  p img {maxwidth:33%; float:left;}
  p {padding: 0 5% 0 2%;}       
}