/*
  Document   : footer
  Created on : Apr 26, 2014, 4:53:11 PM
  Author     : Administrator
  Description:
  Purpose of the stylesheet follows.
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

root {
  display: block;
}

#footer { background:$site-footer;
  height:160px;
  height:16.0 rem;
  p img {width: 100px; height: 100px; float: left; border: 1px solid white; margin: 0 5px;}
  h2 { display:none;}  
  #footer-tel { 
     float:right; 
     margin-right: 3%;
     margin-top:-1%;
     color: white;
      a {color: white; }
      a:hover{ color:#CF8955; }
    }
}
