/*
  Document   : base
  Created on : Apr 26, 2014, 4:48:23 PM
  Author     : Administrator
  Description:
  Purpose of the stylesheet follows.
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
root {
  display: block;
}
#header{
  background: url("/images/header/village.png"); 
  background-size:100% 100%;
  background-repeat:no-repeat;
    /*background-color: $site-header;*/
	height:33.6rem;
	height:336px;
  color:white;  
  margin:0 0 15px 0;
  margin:0 0 1.5rem 0;
  //opacity:0.5;
  #logo img{opacity:1;}
  #name-and-slogan h1 a span{opacity:1; }
}
