/*
    Document   : global
    Created on : Dec 5, 2013, 8:03:16 PM
    Author     : administrator
    Description: global styles for polam
    Imports all our styles.
*/
/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* Import our styles */
/*
  Document   : _base
  Created on : Mar 27, 2014, 2:42:57 PM
  Author     : Administrator
  Description:
  Kasia Zen base 
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 14, ../sass/base/_base.scss */
root {
  display: block;
}

/* line 17, ../sass/base/_base.scss */
#page {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 6px 0 black;
  margin: 1% auto 1%;
}

/* line 23, ../sass/base/_base.scss */
html {
  font-size: 0.875;
}

/* line 24, ../sass/base/_base.scss */
body {
  font-size: 14px;
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  background-color: #eecc33;
}

/* line 25, ../sass/base/_base.scss */
body > div {
  font-size: 1.0rem;
}

/* line 27, ../sass/base/_base.scss */
h2 {
  color: black;
}

/* line 28, ../sass/base/_base.scss */
a {
  color: #222828;
  text-decoration: none;
}

/* line 32, ../sass/base/_base.scss */
#content {
  margin-bottom: 140px;
  margin-bottom: 14.0rem;
}

/*
  Document   : _mainmenu
  Created on : Apr 3, 2014, 10:10:08 AM
  Author     : Administrator
  Description:
  Main menu styling. Created by Tony.
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*=================================SUPERFISH MENU (Main)============================ */
/* Import our styles */
/* line 16, ../sass/base/_mainmenu.scss */
#navigation {
  background-color: #2a5743;
  height: 3rem;
}

/* line 22, ../sass/base/_mainmenu.scss */
#block-superfish-1 h2 {
  display: none;
}
/* line 25, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 {
  /*a:hover {color:#D9202B; background$site-red;/*border-left:1px solid #253F78; font-size:15px; font-size:1.5rem;}*/
}
/* line 26, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 ul {
  padding-left: 1.5rem;
}
/* line 27, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 li:first-child {
  margin-left: 0.95%;
}
/* line 28, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 a {
  /*          font-size:12px;	<-- fix for IE below vers 9 - non CSS3 compatible
            font-size:1.2rem;	<-- 12 px*/
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding: 11px 5px 6.5px 6px;
  padding: 0.785rem  0.357rem 0.4642rem 0.428rem;
  text-decoration: none;
}
/* line 40, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 a:link {
  color: #ffffff;
  background: #2a5743;
}
/* line 41, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 a:visited {
  color: #ccc;
}
/* line 42, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 a:focus {
  color: #ccc;
}
/* line 44, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 a:hover {
  background: #eecc33;
  color: #222828;
}
/* line 45, ../sass/base/_mainmenu.scss */
#block-superfish-1 #superfish-1 a:active {
  color: #CF8955;
}

/*
  Document   : base
  Created on : Apr 26, 2014, 4:48:23 PM
  Author     : Administrator
  Description:
  Purpose of the stylesheet follows.
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 13, ../sass/base/_header.scss */
root {
  display: block;
}

/* line 16, ../sass/base/_header.scss */
#header {
  background: url("/images/header/village.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*background-color: $site-header;*/
  height: 33.6rem;
  height: 336px;
  color: white;
  margin: 0 0 15px 0;
  margin: 0 0 1.5rem 0;
}
/* line 27, ../sass/base/_header.scss */
#header #logo img {
  opacity: 1;
}
/* line 28, ../sass/base/_header.scss */
#header #name-and-slogan h1 a span {
  opacity: 1;
}

/*
  Document   : footer
  Created on : Apr 26, 2014, 4:53:11 PM
  Author     : Administrator
  Description:
  Purpose of the stylesheet follows.
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 14, ../sass/base/_footer.scss */
root {
  display: block;
}

/* line 18, ../sass/base/_footer.scss */
#footer {
  background: #2a5743;
  height: 160px;
  height: 16.0 rem;
}
/* line 21, ../sass/base/_footer.scss */
#footer p img {
  width: 100px;
  height: 100px;
  float: left;
  border: 1px solid white;
  margin: 0 5px;
}
/* line 22, ../sass/base/_footer.scss */
#footer h2 {
  display: none;
}
/* line 23, ../sass/base/_footer.scss */
#footer #footer-tel {
  float: right;
  margin-right: 3%;
  margin-top: -1%;
  color: white;
}
/* line 28, ../sass/base/_footer.scss */
#footer #footer-tel a {
  color: white;
}
/* line 29, ../sass/base/_footer.scss */
#footer #footer-tel a:hover {
  color: #CF8955;
}

/*
  Document   : _sidebar1
  Created on : Apr 26, 2014, 4:56:23 PM
  Author     : Administrator
  Description:
  Purpose of the stylesheet follows.
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 14, ../sass/base/_sidebar1.scss */
root {
  display: block;
}

/* line 18, ../sass/base/_sidebar1.scss */
.sidebars {
  background: white;
  padding: 14px 14px 14px 14px;
  padding: 1rem 1rem 1rem 1rem;
}
/* line 22, ../sass/base/_sidebar1.scss */
.sidebars .views-field-title {
  padding: 1rem 0 0.5rem 0;
  font-weight: bold;
  border-top: 1px dotted #494949;
}
/* line 26, ../sass/base/_sidebar1.scss */
.sidebars .views-field-field-testimonial-text p {
  margin: 1rem 0;
}

/* line 31, ../sass/base/_sidebar1.scss */
#search-block-form {
  margin-top: 3rem;
  border-top: 1px solid black;
  padding: 1rem;
}

/*
  Document   : _content
  Created on : Apr 27, 2014, 11:40:36 AM
  Author     : Administrator
  Description:
  Purpose of the stylesheet follows.
*/
/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* line 14, ../sass/base/_content.scss */
root {
  display: block;
}

/* line 18, ../sass/base/_content.scss */
#content {
  padding: 15px 0 15px 0;
}
/* line 20, ../sass/base/_content.scss */
#content p img {
  maxwidth: 33%;
  float: left;
}
/* line 21, ../sass/base/_content.scss */
#content p {
  padding: 0 5% 0 2%;
}

/*@import "base/mobile_480";*/
/*@import "base/mainmenu";
@import "base/footer";
@import "base/sidebar";
@import "base/header";
@import "base/content";*/
/*@import "components/sexyslider";*/
